form {
  position: relative;
  left: 45%;
  font-size: x-large;
  width: 500px;
}

form input {
  font-size: x-large;
  width: 125px;
  height: 25px;
  padding: 5px;
}

form button {
  font-size: large;
  width: 125px;
  height: 50px;
  padding: 5px;
}

ol {
  width: 500px;
  position: relative;
  left: 45%;
  font-size: x-large;
}
